body {
    background-color: black;
}

video {
    display: block;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

footer p {
    color: gray;
    text-align: right;
}

.linklook {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}

.subhead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: center;
}